Revert nickname length restriction in server connection dialog

I cited RFC 2812 Section 2.3.1 as limiting the nickname length to 8 characters or less, however in practice this doesn't seem to be the case. There might be a more recent spec that I overlooked. Otherwise it should be safe to lift the restriction completely and allow the server to accept/reject the nickname.

https://github.com/avojak/iridium/commit/575850f8f81894e689957695627a155f8355d076